{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "contacts api",
    "description" : "An API for keeping track of your contacts and the companies they work for. \n\nDon't forget to take it for a spin by clicking on the **Try in Client** button next to each operation! All read operations are public and don't require authentication.\n\n<div>\n<img src='https://thecontactsapi.apispark.net/v1/img/cropped-contact-img.png' width='90%'>\n<div>\n\n<!-- ![](https://thecontactsapi.apispark.net/v1/img/cropped-contact-img.png) -->\n\n",
    "contact" : { },
    "version" : "1.2.0"
  },
  "servers" : [ {
    "url" : "https://thecontactsapi.restlet.net/v1"
  } ],
  "paths" : {
    "/contacts/" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Get the list of Contacts",
        "description" : "Loads a list of Contact",
        "parameters" : [ {
          "name" : "$page",
          "in" : "query",
          "description" : "Number of the page to retrieve.",
          "schema" : {
            "type" : "integer",
            "description" : "Number of the page to retrieve."
          },
          "example" : 1
        }, {
          "name" : "$size",
          "in" : "query",
          "description" : "Size of the page to retrieve.",
          "schema" : {
            "type" : "integer",
            "description" : "Size of the page to retrieve."
          },
          "example" : 10
        }, {
          "name" : "$sort",
          "in" : "query",
          "description" : "Order in which to retrieve the results. Multiple sort criteria can be passed.",
          "schema" : {
            "type" : "string",
            "description" : "Order in which to retrieve the results. Multiple sort criteria can be passed."
          },
          "example" : "birthday DESC"
        }, {
          "name" : "active",
          "in" : "query",
          "description" : "Allows to filter the collections of result by the value of field active",
          "schema" : {
            "type" : "boolean",
            "description" : "Allows to filter the collections of result by the value of field active"
          },
          "example" : true
        }, {
          "name" : "company",
          "in" : "query",
          "description" : "Allows to filter the collections of result by the value of field company",
          "schema" : {
            "type" : "string",
            "description" : "Allows to filter the collections of result by the value of field company"
          },
          "example" : "0e8c9fb0-ad98-11e6-bf2e-47644ada7c0f"
        }, {
          "name" : "lastName",
          "in" : "query",
          "description" : "Allows to filter the collections of result by the value of field lastName",
          "schema" : {
            "type" : "string",
            "description" : "Allows to filter the collections of result by the value of field lastName"
          },
          "example" : "Doe"
        }, {
          "name" : "firstName",
          "in" : "query",
          "description" : "Allows to filter the collections of result by the value of field firstName",
          "schema" : {
            "type" : "string",
            "description" : "Allows to filter the collections of result by the value of field firstName"
          },
          "example" : "John"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "X-Page-Size" : {
                "schema" : {
                  "type" : "integer"
                },
                "example" : 25
              },
              "X-Page-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "example" : 1
              },
              "X-Page-Number" : {
                "schema" : {
                  "type" : "integer"
                },
                "example" : 1
              },
              "X-Total-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "example" : 2
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Contact"
                  }
                },
                "example" : "[{\n  \"id\": \"0e8dd830-ad98-11e6-bf2e-47644ada7c0f\",\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"birthday\": 152755200000,\n  \"active\": true,\n  \"rank\": 1,\n  \"company\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\"\n}]"
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "Create a Contact",
        "description" : "Adds a Contact",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "example" : "{\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"birthday\": 152755200000,\n  \"active\": true,\n  \"rank\": 1,\n  \"company\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\"\n}"
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                },
                "example" : "{\n  \"id\": \"0e8dd830-ad98-11e6-bf2e-47644ada7c0f\",\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"birthday\": 152755200000,\n  \"active\": true,\n  \"rank\": 1,\n  \"company\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\"\n}"
              }
            }
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      }
    },
    "/contacts/{contactid}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "Load a Contact",
        "description" : "Loads a Contact",
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                },
                "example" : "{\n  \"id\": \"0e8dd830-ad98-11e6-bf2e-47644ada7c0f\",\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"birthday\": 152755200000,\n  \"active\": true,\n  \"rank\": 1,\n  \"company\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\"\n}"
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Contacts" ],
        "summary" : "Update a Contact",
        "description" : "Stores a Contact",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "example" : "{\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"birthday\": 152755200000,\n  \"active\": true,\n  \"rank\": 1,\n  \"company\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\"\n}"
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                },
                "example" : "{\n  \"id\": \"0e8dd830-ad98-11e6-bf2e-47644ada7c0f\",\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"birthday\": 152755200000,\n  \"active\": true,\n  \"rank\": 1,\n  \"company\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\"\n}"
              }
            }
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Contacts" ],
        "summary" : "Delete a Contact",
        "description" : "Deletes a Contact",
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      },
      "parameters" : [ {
        "name" : "contactid",
        "in" : "path",
        "required" : true,
        "description" : "Identifier of the Contact",
        "schema" : {
          "type" : "string",
          "description" : "Identifier of the Contact"
        },
        "example" : "0e8dd830-ad98-11e6-bf2e-47644ada7c0f"
      } ]
    },
    "/companies/" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Load the list of Companies",
        "description" : "Loads a list of Company",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : "Allows to filter the collections of result by the value of field name",
          "schema" : {
            "type" : "string",
            "description" : "Allows to filter the collections of result by the value of field name"
          },
          "example" : "George Street Brewery"
        }, {
          "name" : "$page",
          "in" : "query",
          "description" : "Number of the page to retrieve.",
          "schema" : {
            "type" : "number",
            "description" : "Number of the page to retrieve."
          },
          "example" : 1
        }, {
          "name" : "$size",
          "in" : "query",
          "description" : "Size of the page to retrieve.",
          "schema" : {
            "type" : "integer",
            "description" : "Size of the page to retrieve."
          },
          "example" : 10
        }, {
          "name" : "$sort",
          "in" : "query",
          "description" : "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC",
          "schema" : {
            "type" : "string",
            "description" : "Order in which to retrieve the results. Multiple sort criteria can be passed. Example: sort=age ASC,height DESC"
          },
          "example" : "name ASC"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "headers" : {
              "X-Page-Size" : {
                "schema" : {
                  "type" : "integer"
                },
                "example" : 25
              },
              "X-Page-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "example" : 1
              },
              "X-Page-Number" : {
                "schema" : {
                  "type" : "integer"
                },
                "example" : 1
              },
              "X-Total-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "example" : 2
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Company"
                  }
                },
                "example" : "[{\n  \"id\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\",\n  \"name\": \"George Street Brewery\",\n  \"address\":{\n    \"street\": \"2 place de la Defense\",\n    \"zipcode\": \"92053\",\n    \"city\": \"Paris\"\n  },\n  \"tags\":[\n    \"brewery\",\n    \"beer\",\n    \"ale\"\n  ]\n}]"
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Companies" ],
        "summary" : "Create a new Company",
        "description" : "Adds a Company",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Company"
              },
              "example" : "{\n  \"name\": \"George Street Brewery\",\n  \"address\":{\n    \"street\": \"2 place de la Defense\",\n    \"zipcode\": \"92053\",\n    \"city\": \"Paris\"\n  },\n  \"tags\":[\n    \"brewery\",\n    \"beer\",\n    \"ale\"\n  ]\n}"
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                },
                "example" : "{\n  \"id\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\",\n  \"name\": \"George Street Brewery\",\n  \"address\":{\n    \"street\": \"2 place de la Defense\",\n    \"zipcode\": \"92053\",\n    \"city\": \"Paris\"\n  },\n  \"tags\":[\n    \"brewery\",\n    \"beer\",\n    \"ale\"\n  ]\n}"
              }
            }
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      }
    },
    "/companies/{companyid}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "Load a Company",
        "description" : "Loads a Company",
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                },
                "example" : "{\n  \"id\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\",\n  \"name\": \"George Street Brewery\",\n  \"address\":{\n    \"street\": \"2 place de la Defense\",\n    \"zipcode\": \"92053\",\n    \"city\": \"Paris\"\n  },\n  \"tags\":[\n    \"brewery\",\n    \"beer\",\n    \"ale\"\n  ]\n}"
              }
            }
          },
          "400" : {
            "description" : "Status 400",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Companies" ],
        "summary" : "Update a Company",
        "description" : "Stores a Company",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Company"
              },
              "example" : "{\n  \"name\": \"George Street Brewery\",\n  \"address\":{\n    \"street\": \"2 place de la Defense\",\n    \"zipcode\": \"92053\",\n    \"city\": \"Paris\"\n  },\n  \"tags\":[\n    \"brewery\",\n    \"beer\",\n    \"ale\"\n  ]\n}"
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                },
                "example" : "{\n  \"id\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\",\n  \"name\": \"George Street Brewery\",\n  \"address\":{\n    \"street\": \"2 place de la Defense\",\n    \"zipcode\": \"92053\",\n    \"city\": \"Paris\"\n  },\n  \"tags\":[\n    \"brewery\",\n    \"beer\",\n    \"ale\"\n  ]\n}"
              }
            }
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Companies" ],
        "summary" : "Delete a Company",
        "description" : "Deletes a Company",
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        },
        "security" : [ {
          "HTTP_BASIC" : [ ]
        } ]
      },
      "parameters" : [ {
        "name" : "companyid",
        "in" : "path",
        "required" : true,
        "description" : "Identifier of the Company",
        "schema" : {
          "type" : "string",
          "description" : "Identifier of the Company"
        },
        "example" : "0e8c9fb0-ad98-11e6-bf2e-47644ada7c0f"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "type" : "object",
        "required" : [ "code" ],
        "description" : "This general error structure is used throughout this API.",
        "properties" : {
          "code" : {
            "type" : "integer",
            "minimum" : 400,
            "maximum" : 599
          },
          "description" : {
            "type" : "string",
            "example" : "Bad query parameter [$size]: Invalid integer value [abc]"
          },
          "reasonPhrase" : {
            "type" : "string",
            "example" : "Bad Request"
          }
        },
        "example" : "{\n  \"code\": 400,\n  \"description\": \"Bad query parameter [$size]: Invalid integer value [abc]\",\n  \"reasonPhrase\": \"Bad Request\"\n}"
      },
      "Contact" : {
        "type" : "object",
        "required" : [ "firstName", "id", "lastName" ],
        "description" : "A dataType of a Contact.",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Auto-generated primary key field",
            "example" : "0e8ffb10-ad98-11e6-bf2e-47644ada7c0f"
          },
          "rank" : {
            "type" : "integer",
            "format" : "int32",
            "minimum" : 1,
            "example" : 1
          },
          "active" : {
            "type" : "boolean",
            "default" : true
          },
          "company" : {
            "type" : "string",
            "description" : "This property is a reference to a Company",
            "example" : "0e8c9fb0-ad98-11e6-bf2e-47644ada7c0f"
          },
          "birthday" : {
            "type" : "integer",
            "format" : "int64",
            "description" : "Birthday as unix timestamp (in ms)",
            "example" : 173664000000
          },
          "lastName" : {
            "type" : "string",
            "example" : "Williams"
          },
          "firstName" : {
            "type" : "string",
            "example" : "Kurt"
          }
        },
        "example" : "{\n  \"id\": \"0e8dd830-ad98-11e6-bf2e-47644ada7c0f\",\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"birthday\": 152755200000,\n  \"active\": true,\n  \"rank\": 1,\n  \"company\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\"\n}"
      },
      "Company" : {
        "type" : "object",
        "required" : [ "address", "id", "name" ],
        "description" : "A dataType of a Company.",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Auto-generated primary key field"
          },
          "name" : {
            "type" : "string"
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "pattern" : "[a-zA-Z]+"
            },
            "example" : "[\"brewery\", \"beer\", \"ale\"]"
          },
          "address" : {
            "type" : "object",
            "required" : [ "city", "street", "zipcode" ],
            "properties" : {
              "city" : {
                "type" : "string"
              },
              "street" : {
                "type" : "string"
              },
              "zipcode" : {
                "type" : "string",
                "pattern" : "[0-9]*"
              }
            }
          }
        },
        "example" : "{\n  \"id\": \"0e8cedd0-ad98-11e6-bf2e-47644ada7c0f\",\n  \"name\": \"George Street Brewery\",\n  \"address\":{\n    \"street\": \"2 place de la Defense\",\n    \"zipcode\": \"92053\",\n    \"city\": \"Paris\"\n  },\n  \"tags\":[\n    \"brewery\",\n    \"beer\",\n    \"ale\"\n  ]\n}"
      }
    },
    "securitySchemes" : {
      "HTTP_BASIC" : {
        "type" : "http",
        "scheme" : "basic",
        "description" : "All GET methods are public, meaning that *you can read all the data*. Write operations require authentication and therefore are forbidden to the general public."
      }
    }
  }
}